{% extends 'base.html' %}
{% block body %}
<div class=" container my-4">
    <div class="row featurette ">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Coding: <span
                    class="text-body-secondary">It’ll
                    blow your mind.</span></h2>
            <p class="lead">The coding experience is a blend of creativity, logic, problem-solving, and continuous learning. 
                It involves not just writing code, but also understanding problems, collaborating with others, and constantly improving both the code and oneself. 
                Whether you are a beginner learning the basics or an experienced developer tackling complex systems, coding offers a dynamic and engaging experience that is both challenging and fulfilling.</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="https://i.pinimg.com/474x/86/57/d1/8657d1522f1d46b5cfc954be87c04042.jpg" alt="">
                <title>Placeholder</title>
            </img>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class=" container my-4">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Meditation: <span class="text-body-secondary">See
                    for yourself.</span></h2>
            <p class="lead">The experience of meditation can vary widely depending on the individual, the type of meditation, and the context in which it is practiced.
                 While the journey can have its challenges, with consistent practice, meditation often leads to profound benefits, including reduced stress, increased mindfulness, and a greater sense of inner peace and well-being.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="https://i.pinimg.com/736x/b1/fd/3b/b1fd3b16a7ad695d228afc257e640203.jpg" alt="">
                <title>Placeholder</title>
            </img>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class=" container my-4">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Music: <span
                    class="text-body-secondary">Only companion.</span></h2>
            <p class="lead">Listening to music is a complex and multifaceted experience that engages the senses, emotions, mind, and body. 
                Whether it’s for relaxation, inspiration, emotional release, or social connection, music has a unique ability to touch the human spirit and enrich our lives in profound ways.
                 Each listening experience can be different, shaped by the music itself, the context in which it is heard, and the listener’s personal state of mind and emotions.
            </p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="https://i.pinimg.com/originals/92/3b/31/923b3115d1f611d98840dc4930517a47.jpg" alt="">
                <title>Placeholder</title>
            </img>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class=" container my-4">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Study: <span class="text-body-secondary">Might be boring.</span></h2>
            <p class="lead">The study experience is a complex and dynamic process that involves a blend of physical, cognitive, and emotional elements. 
                It can be deeply rewarding, providing a sense of achievement, personal growth, and intellectual stimulation. 
                However, it also presents challenges that require discipline, motivation, and effective strategies.
                 By understanding the different aspects of studying and finding what works best for them, individuals can make the study process more efficient, enjoyable, and fulfilling.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="https://i.pinimg.com/originals/d9/0b/67/d90b6734c5750d1fb974ec4b9ec5646b.jpg" alt="">
                <title>Placeholder</title>
            </img>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class=" container my-4">
    <div class="row featurette ">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Dance: <span
                    class="text-body-secondary">Refresh your mood.</span></h2>
            <p class="lead">Dancing allows individuals to connect with themselves, others, and the world around them in a profound way, making it a unique and rewarding experience. 
                Whether dancing alone in a room, with a partner on the dance floor, or in a group performance, each dance experience offers its own blend of physical, emotional, cognitive, and spiritual elements, creating a dynamic and fulfilling activity that has the power to uplift, heal, and inspire.</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="https://i.pinimg.com/736x/46/8a/ed/468aedcf4ab87d9dbc993f55e11d5272.jpg" alt="">
                <title>Placeholder</title>
            </img>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class=" container my-4">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Kdramas: <span class="text-body-secondary">Escape from reality.</span></h2>
            <p class="lead">Watching K-dramas is a rich and multifaceted experience that combines entertainment, emotional engagement, cultural discovery, and community connection. 
                Whether you are drawn to the romance, the compelling storylines, the cultural insights, or the high production quality, K-dramas offer something for everyone. 
                They provide a unique opportunity to immerse oneself in a different culture, experience a wide range of emotions, and connect with a global community of fans.
                 The allure of K-dramas lies in their ability to transport viewers into captivating worlds filled with love, drama, humor, and life lessons, making each viewing experience memorable and enjoyable.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="https://i.pinimg.com/736x/fc/35/30/fc3530e7af88fab7bcfedc974f8cdf0f.jpg" alt="">
                <title>Placeholder</title>
            </img>
        </div>
    </div>
</div>
<hr class="featurette-divider">
{% endblock body %}